body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-container {
    display: flex;
    height: 100vh;
}

.menu {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.face {
    text-align: center;
    margin-bottom: 30px;
}

.face img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
    border-bottom: 1px solid #34495e;
    border-top: 1px solid #34495e;
}

.menu a:hover {
    background-color: #34495e;
}

.exit-button {
    margin-top: 50px;
    text-align: center;
}

.exit-button button {
    background-color: #1b0429;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
}

.content {
    color: rgb(20, 4, 4);
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
    background-image: url('https://iit.com.vn/files/images/Article/5-dieu-can-biet-khi-thiet-ke-website-du-lich.jpg');
    background-size: cover;
}
.content h1 {
    margin-top: 150px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    max-width: 500px;
    margin: 20px 0;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4534db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 200px;
}
button:hover {
    background-color: #2980b9;
}
