.container{
    display: flex;
    gap: 10px;
      overflow-x: auto;   
    white-space: nowrap; 
    scrollbar-width: none;   
}
.contecon{
    width: 400px;
    height: 200px;
    border: 1px solid;
    border-radius: 8px;
       flex: 0 0 auto;

}