*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabmain{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.tab{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(64, 151, 201);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    position: relative;
}
svg{
    color: rgb(64, 151, 201);
     width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}
button:active{
    transform: scale(0.9);
   
}
.hien{
    opacity: 1;
}
.upicon{
   position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;

}
.dowicon{
   position: absolute;
bottom: 20px;
  left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  transition: opacity 0.5s ease;

}
 .trai{
   position: absolute;
  left: 20px; 
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;

}
.phai{
   position: absolute;
  top: 50%; 
  right: 20px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;

} 
.tt{
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0;
     transform: translate(-50%, -50%);
     transition: opacity 0.5s ease;
}
.td{
    position: absolute;
    bottom: 20%;
    left: 20%;
    opacity: 0;
   transform: translate(-50%, 50%);
     transition: opacity 0.5s ease;
}
.tp{
    position: absolute;
    top: 20%;
    right: 20%;
    opacity: 0;
    transform: translate(50%, -50%);
     transition: opacity 0.5s ease;
}
.dp{
    position: absolute;
    bottom: 20%;
    right: 20%;
    opacity: 0;
  transform: translate(50%, 50%);
     transition: opacity 0.5s ease;
}
svg:hover{
  color: rgb(11, 87, 130);
}
.nut{
  width: 100px;
  height: 50px;
  background-color: rgb(64, 151, 201);
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}
h1{
  color: royalblue;
  text-align: center;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fun{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;

}
